@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Wildcard selector to override default styles of browser */
/* Code from Love Running walkthrough project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* generic styles */
    background: url(../images/game_background.webp) no-repeat center/cover, #80bc44;
    font-family: "Poppins", sans-serif;
    color: #ffffff;

}

header {
    height: 2rem;
    margin: 1rem 0 3rem;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: "Londrina Solid", sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #ffa500;
    
}

p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 0;
}

a {
    cursor: pointer;
    color: yellow;
}

#main-container {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.number-tries {
    color: yellow;
}

/* Game grid */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 3.85rem);
    grid-template-rows: repeat(4, 3.85rem);
    grid-gap: 2px;
    margin: auto;
}

.card {
    position: relative;
    background-color: #80bc44;
    transform-style: preserve-3d; /* part of 3D rotating cards */
    transition: transform .5s; /* part of 3D rotating cards */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px; 
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background: #fdcc4c;
    backface-visibility: hidden;
}

.no-click {
    pointer-events: none;
}

.matched {
    pointer-events: none;
}

/* Play Game button */
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    background-color: #ffa500;
    margin: 1rem;
    padding: .5rem;
    width: 150px;
    color: #363636;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px; 
}

.card .front {
    transform: rotateY(180deg);
}

.toggleCard {
    transform: rotateY(180deg); /* part of flipping cards */
}

/* The Modal (background) - MODAL code from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: orange;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* 404 Page */
#lost {
    width: 80%;
    text-align: center;
    padding: 2rem;
    margin: 3rem;
    background-color: #29476d;
}

/* Footer */
footer {
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: .75em;
    padding: 1rem 0 0;
    font-weight: normal;
    color: #363636;
}

/* Media query for mobile devices and later (375px and up) */
@media screen and (min-width: 375px) {
    /* General Styles */
    header {
        height: 1rem;
        margin: 2rem 0;
    }
    
    /* Game grid */
    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 4.5rem);
        grid-template-rows: repeat(4, 4.5rem);
        grid-gap: 5px;
    }

}

/* Media query for tablets and later (768px and up) */
@media screen and (min-width: 768px) {
    /* General Styles */
    h1 {
        font-size: 3rem;
    }

    /* Game grid */
    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 6rem);
        grid-template-rows: repeat(4, 6rem);
        grid-gap: 10px;
    }

    /* Modal Content/Box */
    .modal-content {
        width: 60%; 
    }

    /* 404 Page */
    #lost {
        width: 50%;
    }

    /* Footer */
    footer p {
        font-size: 1em;
    }
}

/* larger devices - laptops, desktops, and up (992px and up)  */
@media screen and (min-width: 992px) {
    /* Game grid */
    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 7rem);
        grid-template-rows: repeat(4, 7rem);
        grid-gap: 10px;
    }

    /* Modal Content/Box */
    .modal-content {
        width: 40%; /* Could be more or less, depending on screen size */
    }

    /* 404 Page */
    #lost {
        width: 40%;
    }
}
