@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

* {
    min-width: 100mw;
    min-height: 100mh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url(../images/game_background.webp) no-repeat center center;
    background-color: #80bc44;
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

a {
    cursor: pointer;
}

/* Game grid */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(4, 6rem);
    grid-gap: 10px;
}

.card {
    position: relative;
    background-color: chartreuse;
    transform-style: preserve-3d; /* part of 3D rotating cards */
    transition: transform 1s; /* part of 3D rotating cards */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px; 
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background: aquamarine;
    backface-visibility: hidden;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    background-color: orange;
    margin: 1rem;
    padding: .5rem;
    width: 150px;
    color: #363636;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: medium;
    cursor: pointer
}

.card .front {
    transform: rotateY(180deg);
}

.toggleCard {
    transform: rotateY(180deg); /* part of flipping cards */
}

/* Footer */
footer {
    padding: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer > ul {
    list-style-type: none;
    display: inline-block;
}

footer li {
    float: left;
    margin: 0 10px;
    font-size: 125%;
}

footer a {
    color: inherit;
}

footer p {
    font-size: 60%;
    padding: 1rem 0 0;
    font-weight: bold;
}